<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/styles/reset.css">
<link rel="stylesheet" href="/styles/utilities.css">
<script src="https://kit.fontawesome.com/be3f22ff69.js" crossorigin="anonymous"></script>

{{!-- Favicon stuff --}}
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="shortcut icon" href="/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Primary Meta Tags -->
<title>AG Lan</title>
<meta name="title" content="AG Lan">
<meta name="description" content="Siden for LAN på Aarhus Gymnasium. Her kan se information og tilmelde dig til LAN og turneringer.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://aglan.dk/">
<meta property="og:title" content="AG Lan">
<meta property="og:description" content="Siden for LAN på Aarhus Gymnasium. Her kan se information og tilmelde dig til LAN og turneringer.">
<meta property="og:image" content="/images/logo/meta_logo.png">
<meta property="og:locale" content="da_DK"/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://aglan.dk/">
<meta property="twitter:title" content="AG Lan">
<meta property="twitter:description" content="Siden for LAN på Aarhus Gymnasium. Her kan se information og tilmelde dig til LAN og turneringer.">
<meta property="twitter:image" content="/images/logo/meta_logo.png">