<html lang="en" data-theme="light">
  <head>
    {{> meta-head}}

    {{#if title}}
      <title>{{title}} - AGC Lan</title>
    {{else}}
      <title>AGC Lan</title>
    {{/if}}

    <style>
      .page {
        min-height: 100%;
        background-color: var(--background-50);
      }

      .page > .inner {
        width: 100%;
        padding: 16px;
        height: fit-content;
      }
    </style>
  </head>
  <body>
    {{#unless noHeader}}
    {{> header }}
    {{/unless}}

    <main class="page">
      <div class="inner">
        {{{body}}}
      </div>
    </main>

    {{> footer }}
  </body>
</html>