<html lang="en">
  <head>
    {{> meta-head}}

    {{#if title}}
      <title>{{title}} - AGC Lan</title>
    {{else}}
      <title>AGC Lan</title>
    {{/if}}
  </head>
  <body>
    {{#unless noHeader}}
    {{> header }}
    {{/unless}}

    <main class="page">
      <div class="inner">
        {{{body}}}
      </div>
    </main>

    {{> footer }}
  </body>
</html>