.page {
  min-height: 100%;

  .inner {
    width: 100%;
    padding: 16px;
    min-height: 100%;
    height: fit-content;
}

}

body {
  position: relative;

  .background-image {
    position: fixed;
    z-index: -10000;
    width: 100%;
    height: 100%;
    background-color: var(--background-50);
    background-image: var(--background-image);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
}
