@import url("./themes/light.css");
@import url("./themes/dark.css");

:root {
  --logo-red: rgba(211,62,31,1);
  --logo-blue: rgba(81,190,224,1);
  --logo-gradient: linear-gradient(70deg, var(--logo-red) 50%, var(--logo-blue) 50%);

  /* Transitions */
  --fast-transition: all ease-in-out 100ms;
  --normal-transition: all ease-in-out 300ms;
  --slow-transition: all ease-in-out 500ms;
}

/* Theme inspiration colors */
/* Inspiration: https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss */
/* Other cool pallettes: https://material.io/design/color/the-color-system.html#tools-for-picking-colors */

/* Defaut classes using variables */
button,
button.main,
.button,
.button.main {
  background-color: var(--info-400);
  outline: none;
  border: none;
  text-align: center;
  color: var(--info-contrast-400);
  padding: 10px 16px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 13.3px;
}

button:hover,
button.main:hover,
.button:hover,
.button.main:hover {
  background-color: var(--info-700);
  color: var(--info-contrast-700);
  cursor: pointer;
}

button.warn,
.button.warn {
  background-color: var(--warn-400);
  outline: none;
  border: none;
  text-align: center;
  color: var(--warn-contrast-400);
}

button.warn:hover,
.button.warn:hover {
  background-color: var(--warn-700);
  color: var(--warn-contrast-700);
  cursor: pointer;
}

button.alert,
.button.alert {
  background-color: var(--alert-400);
  outline: none;
  border: none;
  text-align: center;
  color: var(--alert-contrast-400);
}

button.alert:hover,
.button.alert:hover {
  background-color: var(--alert-700);
  color: var(--alert-contrast-700);
  cursor: pointer;
}