<style>
  #calendar {
    padding: 32px;
    width: clamp(500px, 100%, 700px);
    margin: auto;
  }

  .c-container {
    width: 100%;
    display: grid;
    place-items: center;
    overflow: scroll;
    padding: 2px 0;
  }
</style>

<div class="c-container">
  <div id="calendar" class="card not-padding"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales/da.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
<link rel="stylesheet" href="styles/fc-variables.css">
<script>
  const calendarEl = document.getElementById('calendar');
  const calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    locale: 'da',
    nowIndicator: true,
    headerToolbar: { center: 'dayGridMonth,timeGridWeek' }, // buttons for switching between views
    eventSources: [
      { url: '/api/calendar/lan', color: '#7bb28e', textColor: 'white' }
    ]
  });
  calendar.render();
</script>