<style>
  .comming {
    width: 100%;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body > .page > .inner {
    padding: 6px;
    border: 10px solid transparent;
    border-image: repeating-linear-gradient(
      45deg,
      #262626,
      #262626 15px,
      #fae92f 15px,
      #fae92f 30px
    ) 15;
  }
</style>

<div class="comming">
  <h1>Under konstruktion</h1>
  <p>Kommer snart</p>
</div>