<style>
  .home {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .home > h1 {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .home > .description {
    width: min(90%, 550px);
    margin-bottom: 1rem;
    text-align: center;
    color: var(--muted-text);
  }
</style>

<div class="home">
    <h1>LAN - Aarhus Gymnasium</h1>
    <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus, aliquam, atque, autem blanditiis consequuntur cumque
        debitis doloremque dolorum eaque eius enim error esse et eveniet
        explicabo facilis fugiat harum hic id illo impedit in inventore
        ipsum iure iusto laboriosam laudantium libero magni maxime minima
        molestias nam natus necessitatibus neque nihil nostrum numquam
        odio officia omnis optio pariatur perferendis perspiciatis
        placeat porro quae quam quas quia quibusdam quod ratione rem
        reprehenderit rerum saepe sapiente sequi similique sint sit
        suscipit temporibus tenetur totam ullam unde vel vero voluptas
        voluptate voluptates.
    </p>
</div>

{{!-- Floating next lan box --}}
{{#if nextLan.public}}
<style>
  .floating {
    --padding: max(2.5vw, 8px);

    position: fixed;
    bottom: 0;
    right: 0;
    width: min(calc(275px + var(--padding) * 2), 100%);
    padding: var(--padding);
    z-index: 10;
  }

  .floating > .container {
    width: 100%;
    --border-radius: 6px;
    border-radius: var(--border-radius);
    background-color: var(--background-200);
  }

  .floating > .container > .header > i {
    cursor: pointer;
  }

  .floating > .container > .header {
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: 16px;
    padding-bottom: 12px;
  }

  .floating > .container > .footer {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding-bottom: 8px;
  }

  .floating > .container > .body > p {
    color: var(--muted-text);
    height: 100px;
    overflow-y: auto;
  }

  .floating > .container > .body > h3 {
    margin: 8px 0;
  }

  .floating > .container > .body > h3,
  .floating > .container > .body > p {
    padding: 0 8px;
  }

  .floating > .container > .body > img {
    width: 100%;
    aspect-ratio: 2 / 1;
  }

  .floating > .container > .body > button {
    margin: 0 8px;
    margin-top: 16px;
  }
</style>

<div class="floating" id="nextLanPopup">
  <div class="container basic-shadow">
    <div class="header">Næste LAN <i class="fas fa-times" onclick="closeNextLan()"></i></div>
    <div class="body flex-column">
      <img src="{{ nextLan.cover_url }}" alt="Cover picture">
      <h3>{{ nextLan.name }}</h3>
      <p>{{ nextLan.description }}</p>

      {{!-- If registration isn't open hide the button --}}
      <button class="{{#unless nextLan.registration_open}}hidden{{/unless}}" onclick="alert('fix me')">Tilmeld</button>
    </div>
    <div class="footer"></div>
  </div>
</div>

<script>
  function closeNextLan() {
    document.getElementById('nextLanPopup').remove();
  }
</script>
{{/if}}