<style>
  .reverse {
    unicode-bidi:bidi-override;
    direction:rtl;
  }

  .displaynone {
    display: none;
  }
</style>

<div class="box">
  <h2>Cookie- og privatlivspolitik</h2>
  <p><strong>Introduktion<br>
    </strong>Når du besøger vores website indsamles der oplysninger om dig, som bruges til at tilpasse og forbedre
    vores indhold. Hvis du ikke ønsker, at der
    indsamles oplysninger, bør du slette dine cookies (<a href="http://minecookies.org/cookiehandtering">se
      vejledning</a>) og undlade videre brug af websitet. Nedenfor har vi uddybet, hvilke informationer der
    indsamles, deres formål og hvilke tredjeparter, der har adgang til dem.</p>
  <p><strong>Cookies</strong><br>
    Websitet anvender ”cookies”, der er en tekstfil, som gemmes på din computer, mobil el. tilsvarende med det
    formål at genkende den, huske indstillinger, udføre statistik og målrette annoncer. Cookies kan ikke
    indeholde skadelig kode som f.eks. virus.</p>
  <p>Det er muligt at slette eller blokere for cookies. Se vejledning: <a
      href="http://minecookies.org/cookiehandtering">http://minecookies.org/cookiehandtering</a></p>
  <p>Websitet indeholder cookies fra tredjeparter, jævnfør
    <a href="http://danskemedier.dk/digital/frq3rdparties/">denne liste over hyppige cookies fra
      tredjeparter.</a>
  </p>
  <h3>Personoplysninger</h3>
  <p><strong>Generelt<br>
    </strong>Personoplysninger er alle slags informationer, der i et eller andet omfang kan henføres til dig. Når du
    benytter vores website indsamler og behandler vi en række sådanne informationer. Det sker f.eks. ved alm.
    tilgang af indhold, hvis du tilmelder dig vores nyhedsbrev, deltager i konkurrencer eller undersøgelser,
    registrerer dig som bruger eller abonnent, øvrig brug af services eller foretager køb via websitet.</p>
  <p>Vi indsamler og behandler typisk følgende typer af oplysninger: Et unikt ID og tekniske oplysninger om din
    computer, tablet eller mobiltelefon, dit IP-nummer, geografisk placering, samt hvilke sider du klikker på
    (interesser). I det omfang du selv giver eksplicit samtykke hertil og selv indtaster informationerne
    behandles desuden: Navn, telefonnummer, e-mail, adresse og betalingsoplysninger. Det vil typisk være i
    forbindelse med oprettelse af login eller ved køb.</p>
  <p><strong>Sikkerhed<br>
    </strong>Vi har truffet tekniske og organisatoriske foranstaltninger mod, at dine oplysninger hændeligt eller
    ulovligt bliver slettet, offentliggjort, fortabt, forringet eller kommer til uvedkommendes kendskab,
    misbruges eller i øvrigt behandles i strid med lovgivningen.</p>
  <p><strong>Formål<br>
    </strong>Oplysningerne bruges til at kunne levere de services, du har efterspurgt, som f.eks. at fremsende et
    nyhedsbrev. Herudover anvender vi oplysningerne til at optimere vores services og indhold.</p>
  <p><strong>Periode for opbevaring<br>
    </strong>Oplysningerne opbevares i det tidsrum, der er tilladt i henhold til lovgivningen, og vi sletter dem,
    når de ikke længere er nødvendige. Perioden afhænger af karakteren af oplysningen og baggrunden for
    opbevaring. Det er derfor ikke muligt at angive en generel tidsramme for, hvornår informationer slettes.</p>
  <p><strong>Videregivelse af oplysninger<br>
    </strong>Data om din brug af websitet, geografisk placering,
    køn og alderssegment m.v. videregives til tredjeparter i det omfang disse oplysninger er kendt. Du kan se
    hvilke tredjeparter, der er tale om, i afsnittet om ”Cookies” ovenfor. Oplysningerne anvendes til målretning
    af annoncering.</p>
  <p>Vi benytter herudover en række tredjeparter til opbevaring og behandling af data. Disse behandler udelukkende
    oplysninger på vores vegne og må ikke anvende dem til egne formål.</p>
  <p>Videregivelse af personoplysninger som navn og e-mail m.v. vil kun ske, hvis du giver samtykke til det. Vi
    anvender kun databehandlere i EU eller i lande, der kan give dine oplysninger en tilstrækkelig
    beskyttelse.</p>
  <p><strong>Indsigt og klager<br>
    </strong>Du har ret til at få oplyst, hvilke personoplysninger, vi behandler om dig. Du kan desuden til enhver
    tid gøre indsigelse mod, at oplysninger anvendes. Du kan også tilbagekalde dit samtykke til, at der bliver
    behandlet oplysninger om dig. Hvis de oplysninger, der behandles om dig, er forkerte har du ret til at de
    bliver rettet eller slettet. Henvendelse herom kan ske til: <em><span class="reverse">kd.nalga<span
          class="displaynone">null</span>@<span class="displaynone">null</span>werc</span></em>.
    Hvis du vil klage over vores behandling af dine personoplysninger, har du også mulighed for at tage kontakt
    til <a href="http://www.datatilsynet.dk">Datatilsynet</a>.</p>
  <h3>Privatliv til eventer og aktiviteter</h3>
  <p>Når du deltager i eventer og ativiteter udbydet af udgiveren af denne website, giver du samtykke til at der
    optages billeder i form af stilbilleder samt videofilm af dig under eventet eller aktiviteten. Du giver også
    samtykke til at udgiveren må bruge disse billeder frit på denne hjemmeside samt til reklameformål. Hvis et
    billede ønskes fjernet skriv da til <span class="reverse">kd.nalga<span class="displaynone">null</span>@<span
        class="displaynone">null</span>werc</span>.</p>
  <p><strong>Udgiver</strong><br>
    Websitet ejes og publiceres af:</p>
  <p><em>LanCrew på Aarhus Gymnasium, Aarhus C</em><br>
    <em>Dollerupvej 2</em><br>
    <em>8000 Aarhus C</em><br>
    Telefon: <em>+45 22 23 41 69</em><br>
    Email: <em><span class="reverse">kd.nalga<span class="displaynone">null</span>@<span
          class="displaynone">null</span>werc</span></em>
  </p>
</div>