.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.basic-shadow {
  -webkit-box-shadow: var(--shadow-basic); 
  box-shadow: var(--shadow-basic);
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
}