.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.basic-shadow {
  -webkit-box-shadow: var(--shadow-basic); 
  box-shadow: var(--shadow-basic);
}