@import url("./themes/light.css");
@import url("./themes/dark.css");

:root {
  --logo-red: rgba(211,62,31,1);
  --logo-blue: rgba(81,190,224,1);
  --logo-gradient: linear-gradient(70deg, var(--logo-red) 50%, var(--logo-blue) 50%);

  /* Transitions */
  --fast-transition: all ease-in-out 100ms;
  --normal-transition: all ease-in-out 300ms;
  --slow-transition: all ease-in-out 500ms;
}

/* Theme inspiration colors */
/* Inspiration: https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss */
/* Other cool pallettes: https://material.io/design/color/the-color-system.html#tools-for-picking-colors */
